{% extends "base.html" %}

{% block title %}{{ lesson['title'] }}{% endblock %}

{% block content %}
<div class="lesson-content">
    <h3>{{ lesson['title'] }}</h3>
    <p>{{ lesson['description'] }}</p>
    
    <h5>Key Concepts</h5>
    <ul>
        {% for concept in lesson['key_concepts'] %}
        <li>{{ concept }}</li>
        {% endfor %}
    </ul>
    

    <h5>Best Practices</h5>
    <ul>
        {% for practice in lesson['best_practices'] %}
        <li>{{ practice }}</li>
        {% endfor %}
    </ul>
    
    <div class="mt-4">
        {% if prev_module and prev_lesson %}
        <a href="{{ url_for('lesson', module_id=prev_module, lesson_id=prev_lesson) }}" class="btn btn-outline-primary">Previous</a>
        {% endif %}
        {% if next_module and next_lesson and next_module == module_id %}
        <a href="{{ url_for('lesson', module_id=next_module, lesson_id=next_lesson) }}" class="btn btn-primary">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}